* {
    box-sizing: border-box;
  }
  
  #bg {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 30vh;
    /* background-color: white; */
    color: rgb(60, 60, 80);
    font-family: 'Rubik';
    font-weight: 800;
    font-size: 8vw;
    overflow: visible;
  }
  
  section {
    position: relative;
    z-index: 1;
    
    &::after {
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0%, -50%);
      font-size: 10vw;
      letter-spacing: 5vw;
      content: attr(data-identity);
      color: #EAEAF2;
      z-index: -1;
      animation: animLetterSpacing 4500ms infinite ease-in-out;
    }
  }
  span {
    font-family: "Waltograph UI";
    font-style: italic;
    display: inline-block;
    color: #ff0333;
  }
  
  
  
  @keyframes animLetterSpacing {
    0% {
      letter-spacing: 2vw;
      opacity: 0;
    }
    
    40% {
          opacity: 1;
      letter-spacing: 0.5em;
    }
    
    70% {
          letter-spacing: 0.75em;
    }
    
    100% {
      letter-spacing: 2.5em;
    }
  }